.build-image
target

frontend/node_modules
frontend/.cache
frontend/dist
frontend/yarn-error.log
frontend/.parcel-cache/*

.idea/
.env 
base_claim_*
*.tar.gz
*.openssh-privatekey
*.io
*.ppk
.vscode
**/.parcel-cache
keys.json
